# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Any sqlite3 database which could result from testing
*.testdb

.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# My old stuff I wanna keep locally
old/*
excel/*
/main

casheer.db
casheer.e2e.db
default.json