<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<style>
    .collapsible {
        cursor: pointer;
    }

    .content {
        /* padding: 0 18px; */
        display: none;
        overflow: hidden;
    }
</style>

<body>

    <p>A Collapsible:</p>
    <div class="collapsible">Open Collapsible</div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </div>


    <label for="dog-names">Choose a dog name:</label>
    <select name="dog-names" id="dog-names">
        <option value="rigatoni">Rigatoni</option>
        <option value="dave">Dave</option>
        <option value="pumpernickel">Pumpernickel</option>
        <option value="reeses">Reeses</option>
    </select>

    <h3>Available entries</h3>

    {{ range .CategorizedEntryList }}
    <h4>
        {{ .Category }}
    </h4>
    <ul id="entries-list">
        {{ range .Entries }}
        {{ block "entry-list-element" . }}
        <li>
            <div class="collapsible">
                Id: {{ .Id }}, Expected: {{.TotalMoney }} {{ .Currency }} Category: {{ .Category }}
                Subcategory: {{ .Subcategory }} Recurring: {{ .Recurring }} Total: {{ .RunningTotal.RON }} RON
                {{ .RunningTotal.EUR }} EUR {{ .RunningTotal.USD }} USD
            </div>
            <div class="content">
                {{ if not .Expenses }} No expenses recorded here
                {{ else }}
                <ul>
                    {{ range .Expenses }}
                    <li>
                        Id: {{ .Id }} Total Money: {{ .TotalMoney }} {{ .Currency }}
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </li>
        <div>

        </div>
        {{ end }}
        {{ end }}
    </ul>

    {{ end }}




    <h3>Available debts</h3>
    <ul hx-confirm="Are you sure?" hx-target="closest li" hx-swap="outerHTML" id="debt-list">
        {{ range .DebtsList }}
        {{ block "debt-list-element" . }}
        <li>
            <button hx-vals='{"debtid":"{{ .Id }}"}' hx-post="/deleteDebt">Resolve
                debt</button> Id: {{ .Id }}, Person: {{ .Person }},
            Money: {{
            .TotalMoney }} {{ .Currency }} Details {{ .Details }}
        </li>
        {{ end }}
        {{ end }}
    </ul>

    <h4>Insert new debt</h4>
    <form hx-confirm="Are you sure?" hx-post="/createDebt" hx-target="#debt-list" hx-swap="beforeend">
        <button type="submit">Create</button>
        <label for="debt-person">Person</label>
        <input type="text" name="person" id="debt-person">
        <label for="debt-total-money">TotalMoney</label>
        <input type="number" name="total-money" id="debt-total-money">
        <label for="debt-currency">Currency</label>
        <input type="text" name="currency" id="debt-currency">
        <label for="debt-details">Details</label>
        <input type="text" name="details" id="debt-details">
    </form>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>

</html>