<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<style>
    .collapsible {
        cursor: pointer;
    }

    .content {
        /* padding: 0 18px; */
        display: none;
        overflow: hidden;
    }

    .entry-row {
        padding: 10px 0px;
        width: fit-content;
        min-width: 1500px;
    }

    .entry-row:not(.active) {
        border-bottom: 1px solid rgb(179, 173, 173);
    }

    .entry-row:hover {
        background-color: rgb(211, 206, 206);
    }
</style>

<body>

    <label for="year-select">Year</label>
    <select hx-post="/year" name="year" hx-swap="inner-html" hx-target="#all-entries-categorized" id="year-select">
        <option value=2024>2024</option>
        <option value=2023>2023</option>
        <option value=2022>2022</option>
    </select>

    <label for="month-select">Month</label>
    <select hx-post="/month" name="month" hx-swap="inner-html" hx-target="#all-entries-categorized" id="month-select">
        <option value=12>December</option>
        <option value=11>November</option>
        <option value=10>October</option>
        <option value=9>September</option>
        <option value=8>August</option>
        <option value=7>July</option>
        <option value=6>June</option>
        <option value=5>May</option>
        <option value=4>April</option>
        <option value=3>March</option>
        <option value=2>February</option>
        <option value=1>January</option>
    </select>


    <div id="all-entries-categorized">
        {{ block "all-planning-data" . }}
        <h3>Available entries</h3>

        {{ range .CategorizedEntryList }}
        <h4>
            {{ .Category }}
        </h4>
        Insert new expense to this category
        <form id="element-creation-form" hx-confirm="Are you sure?" hx-post="/createExpense" hx-target="next ul"
            hx-swap="inner-html">
            <button type="submit">Create</button>
            <label for="expense-subcategory">Subcategory</label>
            <input type="text" name="subcategory" id="expense-subcategory">
            <label for="expense-name">Name</label>
            <input type="text" name="name" id="expense-name">
            <label for="expected-value">Expected Value</label>
            <input type="number" name="total-money" id="expected-value">
            <label for="expected-currency">Currency</label>
            <input type="text" name="currency" id="expected-currency">
            <label for="expense-details">Details</label>
            <input type="text" name="details" id="expense-details">
            <label for="payment-method">Payment Method</label>
            <input type="text" name="payment-method" id="payment-method">
            <input type="hidden" name="category" value="{{ .Category }}">
        </form>
        <ul id="subcategories-list">
            {{ block "all-entries-categorized" . }}
            {{ range .Entries }}
            <li>
                <div class="collapsible entry-row">
                    Id: {{ .Id }}, Expected: {{.TotalMoney }} {{ .Currency }} Category: {{ .Category }}
                    Subcategory: {{ .Subcategory }} Recurring: {{ .Recurring }} Total: {{ .RunningTotal.RON }} RON
                    {{ .RunningTotal.EUR }} EUR {{ .RunningTotal.USD }} USD
                </div>
                <div class="content">
                    {{ if not .Expenses }} No expenses recorded here
                    {{ else }}
                    <ul id="expenses-list">
                        {{ $entid := .Id }}{{ range .Expenses }}
                        <li>
                            <button hx-vals='{"expid":"{{ .Id }}","entid":"{{ $entid }}"}' hx-swap="outerHTML" hx-target="closest li" hx-post="/deleteExpense">delete</button> Id: {{ .Id }} Total Money: {{ .TotalMoney }} {{ .Currency }}
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>

    <h3>Available debts</h3>
    <ul hx-confirm="Are you sure?" hx-target="closest li" hx-swap="outerHTML" id="debt-list">
        {{ range .DebtsList }}
        {{ block "debt-list-element" . }}
        <li>
            <button hx-vals='{"debtid":"{{ .Id }}"}' hx-post="/deleteDebt">Resolve
                debt</button> Id: {{ .Id }}, Person: {{ .Person }},
            Money: {{
            .TotalMoney }} {{ .Currency }} Details {{ .Details }}
        </li>
        {{ end }}
        {{ end }}
    </ul>

    <h4>Insert new debt</h4>
    <form hx-confirm="Are you sure?" hx-post="/createDebt" hx-target="#debt-list" hx-swap="beforeend">
        <button type="submit">Create</button>
        <label for="debt-person">Person</label>
        <input type="text" name="person" id="debt-person">
        <label for="debt-total-money">TotalMoney</label>
        <input type="number" name="total-money" id="debt-total-money">
        <label for="debt-currency">Currency</label>
        <input type="text" name="currency" id="debt-currency">
        <label for="debt-details">Details</label>
        <input type="text" name="details" id="debt-details">
    </form>

    <script>

        fetch("/period").
            then((response) => response.json()).
            then((period) => {
                console.log("using period", period);
                return period
            }).
            then((period) => {
                let yearselector = document.getElementById("year-select");
                yearselector.value = period.year
                let monthselector = document.getElementById("month-select");
                monthselector.value = period.month
            }).
            catch((error) => console.log("could not fetch period", error))

        // When HTML is returned after adding an expense the
        // event handler is not registered anymore to collapse.
        // This registers it back after that specific event.
        document.addEventListener('htmx:afterRequest', function (evt) {
            // console.log(evt.detail)
            if (evt.srcElement.id === "element-creation-form") {
                let collapsibles = evt.detail.target.getElementsByClassName("collapsible")
                for (i = 0; i < collapsibles.length; i++) {
                    collapsibles[i].addEventListener("click", onClickForCollapsible.bind(collapsibles[i]));
                }
            }
            // Basically everything that is collapsible is re-written, repeat step below.
            if (evt.srcElement.id === "year-select" || evt.srcElement.id === "month-select") {
                console.log("switched period")
                let collapsibles = document.getElementsByClassName("collapsible");
                for (let i = 0; i < collapsibles.length; i++) {
                    collapsibles[i].addEventListener("click", onClickForCollapsible.bind(collapsibles[i]));
                }
            }
        });

        // First time loading, add all events for all collapsibles
        var coll = document.getElementsByClassName("collapsible");
        for (let i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", onClickForCollapsible.bind(coll[i]));
        }

        function onClickForCollapsible() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        }
    </script>

</body>

</html>